# App
APP_NAME=todo-list
APP_VERSION=1.0.0
# Cache
CACHE_MAX_COST=10000
CACHE_TTL=5m
# CORS
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_HEADERS=Origin,X-Requested-With,Content-Type,Accept,Authorization
CORS_ALLOW_METHODS=GET,POST,HEAD,PUT,DELETE,PATCH
CORS_ALLOW_ORIGINS=http://localhost:3000,https://minhhoccode111.github.io
# HTTP settings
HTTP_PORT=8081
# JWT
JWT_EXPIRATION=15m
JWT_ISSUER=todo-list
JWT_SECRET=d5a87dda-9967-4d97-8abe-331bfa18c7e1
# Logger
LOG_LEVEL=debug
# Metrics
METRICS_ENABLED=true
# PG
PG_POOL_MAX=2
PG_URL=postgres://user:password@localhost:5432/db
# RateLimit
RATE_LIMIT_BURST=20
RATE_LIMIT_RPS=10
# Refresh Token
REFRESH_TOKEN_EXPIRATION=168h
REFRESH_TOKEN_SECURE=true
# Swagger
SWAGGER_ENABLED=true
